@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 1000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Orbitron", sans-serif;
}

.Logo h1 {
  font-size: 2rem;
  color: #fff;
}

.Nav nav {
  display: flex;
  gap: 20px;
}

.Nav nav a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  padding: 6px 12px;
  transition: 0.3s;
  border: 2px solid #333;
}

.Nav nav a:hover {
  color: #fff;
  border-radius: 20px;
  background-color: #333;
}

/* Hamburger Icon */
.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Mobile View */
@media (max-width: 768px) {
  .Nav nav {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: black;
    flex-direction: column;
    width: 100%;
    display: none;
    padding: 1rem 0;
  }

  .Nav.active nav {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}

/* Push content down below navbar */
body {
  padding-top: 80px; /* Adjust depending on navbar height */
}
